.navbar-custom {
    background-color: #44aa44; /* jasny zielony */
}
.navbar-brand {
    font-size: 30px;
    color: white !important;
    font-weight: bold;
    letter-spacing: 1px;
}
.nav-link {
    color: #003300 !important; /* ciemniejsze przygaszone */
    font-size: 18px;
    transition: 0.3s;
}
.nav-link:hover {
    transform: scale(1.1);
}
